<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/home.css" %}">


</head>
<body>
    <div class="container" align="center">
        <div class="jumbotron">
            <h1 class="display-4">Hello, world!</h1>
            <hr class="my-4">
            <p>Welcome to Vidyasagar's job app</p>
            <a class="btn btn-primary btn-lg" href="/hyd" role="button">Hyd Jobs</a>&nbsp &nbsp
            <a class="btn btn-primary btn-lg" href="/bang" role="button">Bangaluru Jobs</a>&nbsp&nbsp
            <a class="btn btn-primary btn-lg" href="#" role="button">Chennai Jobs</a>
          </div>
    </div>
    
</body>
</html>