<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/hyd.css" %}">
    <style>
        h1{
            background-color: red;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Hyderabad Jobs Information</h1>

    <img src="{% static "images/buddha.jpg" %}" alt="not there">
    <img src="{% static "images/char.jpg" %}" alt="not there">
    <img src="{% static "images/cyber.jpg" %}" alt="not there">
    <img src="{% static "images/temple.jpg" %}" alt="not there">
    <hr><hr>
    <table border="5">
        <thead>
            <th>Date</th>
            <th>Title</th>
            <th>Eligibility</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phonenumber</th>
        </thead>
        {% if hyd %}
        {% for jobs in hyd %}
        <tr>
            <td>{{jobs.date}}</td>
            <td>{{jobs.title}}</td>
            <td>{{jobs.eligibility}}</td>
            <td>{{jobs.adderess}}</td>
            <td>{{jobs.email}}</td>
            <td>{{jobs.phonenumber}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <h1>no records found</h1>
        {% endif %}
    </table>

    
</body>
</html>